<div class="navbar navbar-default" ng-controller="NavbarController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
                ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
            mytest
        </div>
    </div>
    <div class="collapse navbar-collapse" collapse="menuCollapsed">
        <div class="nav navbar-nav pull-right">
            <ul class="nav navbar-nav" ng-hide="currentUser">
                <li><a ui-sref="login">Log In</a></li>
                <li><a ui-sref="register">Sign up</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-show="currentUser">
                <li class="dropdown">
                    <a class="dropdown-toggle">Welcome, {{ currentUser.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="logout()"><span class="glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a href ui-sref="home">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="admin">
                    <i class="fa"></i>
                    Dashboard
                </a>
            </li>
        </ul>
    </div>
</div>